fieldset {
    width: 750px;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: leftt;
}

input[type=text] {
	background-color: #FFCCFF;
	-webkit-appearance: none;
	border: 1px dotted #999;
	border-radius: 10;
	
}