table {
	margin: auto;
	margin-top: 2%;
	padding: 30px;
	width: 75%;
	background-color: #CCCCFF;
	box-shadow:1px 1px 10px black;
}

table th{
	background-color: #2bb5d7;
	width: 120px;
	border: none;
	padding: 20px 12px;
}

table tr td{
	width: 140px;
	padding: 12px;
	border: 1px solid black;
}

h1 {
	background : #F3E2A9;
    color : #0101DF;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

h2 {
	background : #F3E001;
	color : #CC0000;
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
